// Page - navbar
#Chat {
  height: calc(100vh - 52px);
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
}

// Sidebar
aside {
  background-color: #abcdef;
  overflow: auto;
  padding: 20px;
}

.menu-list button, #Chat-Name button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#Menu-search-bar {
  padding: 8px 4px 8px 16px;
  margin-bottom: 0px;
}

.menu-input {
  > .level-left {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .level-item {
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
  }

  input {
    border: none;
    width: 100%;
  }

  button.is-rounded {
    height: 35px;
    width: 35px;
    padding: .1em .12em .1em .08em;
  }
}


#Menu-search-bar {
  button {
    padding: .5em;
    color: #9f9f9f;
  }

  button:hover {
    background-color: transparent;
    color: #262626;
  }

} 

#Menu-Channels .menu-label {
  display: flex;
  justify-content: space-between;
}


// Main Chatbox
main {
  padding: 1em;
  height: calc(100vh - 52px);
  background-color: #eee;
  display: flex; 
  flex-direction: column;
}

// Chat Name
#Chat-Welcome {
  width: max-content;
  margin: auto;
  margin-top: 5em;
  color: #999;
}

// Textbox
#Chat-Input {
  padding-right: .5em;
  margin: .5em 0;
}

#Chat-Send {
  padding: .5em .8em .5em .6em;
  font-size: 14px;
  margin-left: .25em;
}

#Chat-Name, #Chat-Input {
  min-height: 50px;
}

// Member Modal
#Chat-Members {
  .modal-card {
    width: 400px;
  }

  section > div {
    height: 40px;
    margin-bottom: .25em;
    display: flex;
    justify-content: space-between;

    > span {
      align-self: center;
    }
  }
} 

// ChatBox Content
#Chat-Convo {
  flex-grow: 1;
  background-color: #ddd;
  overflow-y: auto;

  > div {
    overflow-wrap: break-word;
    max-width: 75vw;
  }

  .box {
    padding: .5em;
    margin: .5em .5em 1em .5em;
    width: max-content;
  }

  .box:not(:last-child){
    margin-bottom: 1em;
  }

  .box.self-chat {
    margin-left: auto;
  }
}


#Chat-Emoji {
  .dropdown-content {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    height: 30vh;
    width: 75vw;
    overflow-y: auto;
    cursor: pointer;

    > div {
      padding-left: auto;
      padding-right: auto;
      font-size: 20px;
    }
  }

  .dropdown.is-right .dropdown-menu {
    right: -50px;
  }
}

@media screen and (max-width: 768px) {
  .level-left+.level-right {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 900px) {
  #Chat {
    grid-template-columns: 5fr;
  }
  aside {
    display:none;
  }

  .dropdown-content{
    grid-template-columns: repeat(10, 1fr);
    width: 98vw;
  }
}

@media screen and (max-width: 500px) {
  .dropdown-content{
    grid-template-columns: repeat(7, 1fr);
  }
}