{% extends "layout.html" %}

{% block title %}
  Hello World!
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/main.css">

<section id="Chat">
  <!-- Channel Aside -->
  <aside class="menu">
    <!-- Search Bar -->
    <p class="menu-label">
      Channels
    </p>
    <ul class="menu-list" id="Menu-Channels">
      <li>
        <div class="input is-rounded level menu-input" id="Menu-search-bar">
          <div class="control is-expanded level-left">
            <div class="level-item">
              <input type="text" placeholder="Search or create channel" id="Menu-search-value" class="is-danger">
            </div>
          </div>
          <div class="control level-right">
            <div class="level-item">
              <button id="Menu-search-Add">
                <i class="fas fa-plus"></i>
              </button>
              <button id="Menu-search-Search">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <p class="help is-danger"></p>
      </li> 
      <br>
      <div id="Menu-Channels-List" class="is-hidden">
        <p class="menu-label" >
          <span>Search Results</span>
          <button class="delete is-small"></button>
        </p>
        <div></div>
        <hr>
      </div> 
    </ul>

    <!-- My channels -->
    <p class="menu-label">
      My Channels
    </p>
    <ul class="menu-list">
      <div id="Menu-My-Channels-List">

      </div>  
    </ul>
    <p class="menu-label">
      Private Chats
    </p>
    <ul class="menu-list">
      <div id="Menu-My-Friends-List">

      </div>  
    </ul>
  </aside>
  <main>
    <!-- Main channel or last channel -->
    <div id="Chat-Name"></div>
    <div class="modal" id="Chat-Members">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title is-size-6">Members</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          
        </section>
      </div> 
    </div>  
    <div id="Chat-Convo"></div>
    <div id="Chat-Input" class="input is-rounded level menu-input">
      <div class="control is-expanded level-left">
        <div class="level-item">
          <input type="text" placeholder="Say something here!" onkeyup="messageInput()">
          <p class="help is-danger"></p>
        </div>
      </div>
      <div class="control level-right">
        <div class="level-item">
          <div class="dropdown is-right is-up" id="Chat-Emoji">
            <div class="dropdown-trigger">
              <button class="button is-rounded is-info" aria-haspopup="true" aria-controls="dropdown-menu" onclick="toggleEmoji()">
                  <i class="far fa-smile"></i>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
              </div>
            </div>
          </div>
          
          <button class="button is-rounded is-info" id="Chat-Send" onclick="sendMessage()">
              <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </main>
</section>
  
<script id="Template-Username" type="text/x-lodash-template">
  <div>
    <%= comment %>
  </div>
</script>

<script id="Template-Modal" type="text/x-lodash-template">
  <div class="modal is-active" id="Index-PopUp">
    <div class="modal-background"></div>  
    <div class="modal-content">

      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">

              <p class="title is-3">Welcome to ChatRoom!</p>
              <p class="subtitle is-5">First time here? Enter username below to begin!</p>

              <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <p class="help is-danger"></p>
                </div>
              </div>

              <div class="buttons is-right">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
              </div>

            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</script>

<script id="Template-Emoji" type="text/x-lodash-template">
  <div class="dropdown-item">
    <%= emoji %>
  </div>
</script>

<script id="Template-ChatBalloon" type="text/x-lodash-template">
  <div class="box <%= classes %>">
    <p><%= author %>
      <span class="is-size-7 has-text-grey-light">
        <%= time %>
      </span>
    </p>
    <div><%= message %></div>
  </div>
</script>

<script>
  // The app will store the userNAME into localStorage
  // Upon running, the app will retrieve user details from server
    // AND STORE USER OBJECT into USER_STATE
    // to keep memory in sync

  // somehow storing nodes in variables will cause rendering errors

  const templateFn = _.template(document.querySelector("#Template-Username").innerHTML);
  const EmojiTemp = _.template(document.querySelector("#Template-Emoji").innerHTML);
  const BalloonTemp = _.template(document.querySelector("#Template-ChatBalloon").innerHTML);
  const channelContainer = document.querySelector("#Menu-Channels");

  const ChannelList = document.querySelector("#Menu-Channels-List > div");
  const MyChannelList = document.querySelector("#Menu-My-Channels-List");
  
  // https://cs50.harvard.edu/web/notes/5/
  const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

  document.addEventListener("DOMContentLoaded", function() {
  // USER VALIDATION
    // Returned users to be greeted
    if (storedUSERNAME) {
      // get User Object from server
      socket.emit("get user", storedUSERNAME);

      // server response
      socket.on("return user", userObj => {
        // Fallback in case of server problems
        if (userObj == "error") {
          // USER_STATE is updated inside the promise
          usernameModalManager(new User(new Date()));
                
        } else {
          // Return userObj successful
          USER_STATE = userJSONConvert(userObj);

          document.querySelector("#Layout-Greeting").innerHTML = 
            templateFn({"comment": `Welcome back, ${USER_STATE.username}`});

          // Channels attached to user are merely keys
          // Append the channels to sidebar
          
          if (USER_STATE.channels) {
            myChannels = USER_STATE.channels.filter(channelName => storedChannelName != channelName);

            if (myChannels.length) {
              socket.emit("get channels", myChannels);
            }
          } 
        }
      });
    } else {
      // If first time, get unique username

      // new User Object
      // USER_STATE is updated inside the promise
      usernameModalManager(new User(new Date()));
    }

  // CHANNEL FUNCTIONALITIES
    // everytime a channel is shown
      // CHANNEL_STATE and localStorage will be updated
      // but it might not be added to USER_STATE
      // therefore it would be safer to render the 2 separately

    // Main window
    // Render only the screen 
    if (!storedChannelName) {
      let helpfulMsg = document.createElement("li");
        helpfulMsg.append("Click search to view full list of public channels!");

      MyChannelList.append(helpfulMsg);

      document.querySelector("#Chat-Name").textContent = "Welcome!";

      let welcomeMsgContainer = document.createElement("div");
      welcomeMsgContainer.id = "Chat-Welcome";
      welcomeMsgContainer.append("Start by searching a channel to join or create one yourself!");
      document.querySelector("#Chat-Convo").append(welcomeMsgContainer);
    } else {
      socket.emit("get last channel", storedChannelName);
      // only append once
      counter = true;

      socket.on("last channel", channel => {
        if (channel) {
          channel = channelJSONConvert(channel);
          let privateFriendChat = channel.name.split("%%").length == 3;

          if (privateFriendChat && counter == true) {
            document.querySelector("#Menu-My-Friends-List").append(channel.showChatList(privateFriendChat));
            counter = false;
          } else if (counter == true) {
            // It is possible that user clicked on a channel
              // but did not add channel to USER_OBJECT
            if (USER_STATE.channels.includes(channel.name)) {
              MyChannelList.append(channel.showChatList());
            }
          }
          channel.showChat(privateFriendChat);
        } else {
          // server error or reset
          // in this branch CHANNEL_STATE is still not defined
          localStorage.removeItem("user");
          localStorage.removeItem("channel");
          alert("Oh no! Something has went wrong! Please refresh the page!");

          document.querySelector("#Chat-Convo").innerHTML = 
            templateFn({"comment": 
              "Start by searching a channel to join or create one yourself!"});
        }
      });
    }
  });
  // Onload event end
          
  socket.on("channel results", channelResults => {
    if (channelResults) {
      channelResults.forEach(channel => {
        channel = channelJSONConvert(channel);
        let privateFriendChat = channel.name.split("%%").length == 3;
        
        if (privateFriendChat) {
          document.querySelector("#Menu-My-Friends-List").append(channel.showChatList(privateFriendChat));
        } else {
          MyChannelList.append(channel.showChatList());
        }
      });
    } else {
      // server problem
      let helpfulMsg = document.createElement("li");
      helpfulMsg.append("Search for channels above!");

      MyChannelList.append(helpfulMsg);
    }
  });


// Channel Functionalities

  // Create Channel
  const createChannel = document.querySelector("#Menu-search-Add");
  const searchChannel = document.querySelector("#Menu-search-Search");
  let searchBarValue;

  createChannel.addEventListener("click", function(event){
    event.preventDefault();
    SearchBarWarning(false);

    searchBarValue = document.querySelector("#Menu-search-value").value;

    if (searchBarValue) {
      // Check whether channel name used
      socket.emit("new channel attempt", searchBarValue); // Raw unvalidated string
    }
  });

  // Manages creation of both public and private channels
  socket.on("channel create", function([channelCreateResult, channelName, visibility]) {
    let privateFriendChat = channelName.split("%%").length == 3;

    if (channelCreateResult) {
      let channel;

      channel = new Channel(channelName, USER_STATE.username, visibility);
      channel.addUser(USER_STATE.username);

      if (!USER_STATE.channels.length) {
        MyChannelList.textContent = "";
      }

      // set CHANNEL_STATE and localStorage
      if (privateFriendChat) {
        document.querySelector("#Menu-My-Friends-List").append(channel.showChatList(privateFriendChat));
      } else {
        MyChannelList.append(channel.showChatList());
      }
      channel.showChat(privateFriendChat);

      // announce to server on the creation
      socket.emit("new channel", JSON.stringify(CHANNEL_STATE));

      // and for User object
      USER_STATE.addChannel(CHANNEL_STATE);

      // reset box
      document.querySelector("#Menu-search-value").value = "";

    } else {
      // Channel Name used
      // also for private chat mechanism
      // the private chat is occupied and user will be redirected to there
      
      if (privateFriendChat) {
        socket.emit("get last channel", channelName);
      } else {
        if (visibility) {
        
          SearchBarWarning(true, "Name used!");

          setTimeout(() => {SearchBarWarning(false);}, 5000);
        }
      }
    }
  });


  // Search channels
  searchChannel.addEventListener("click", function(event){
    event.preventDefault();

    searchBarValue = document.querySelector("#Menu-search-value").value;

    // get all channels if no string
    socket.emit("search channels", searchBarValue); // Search String
    document.querySelector("#Menu-search-value").value = "";
  });

  socket.on("channel search result", channelSearchResult => {
    if (ChannelList.textContent) {
      ChannelList.textContent = "";
    }

    if (channelSearchResult) {
      document.querySelector("#Menu-Channels-List").classList.toggle("is-hidden");
      channelSearchResult.forEach(channelSearchItem => 
        ChannelList.append(
          channelJSONConvert(channelSearchItem).showChatList()
        )
      );
    } else {
      SearchBarWarning(true, "No result found!");
    }
  });

  document.querySelector("#Menu-Channels-List button")
    .addEventListener("click", function(event) {
      event.preventDefault();

      document.querySelector("#Menu-Channels-List").classList.toggle("is-hidden");
    }
  );
</script>
<script src="/static/main.js"></script>
<script src="/static/helper.js"></script>
<script src="/static/messaging.js"></script>

{% endblock %}
