<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- Linking Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Linking Lodash library and WebSockets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
      // Get user object on load
      let storedUSERNAME = localStorage.getItem("user"); // raw username
      let storedChannelName = localStorage.getItem("channel");
      let USER_STATE = ""; // store user object
      let CHANNEL_STATE = ""; // store current channel object
    </script>
  </head>
    <body>
      <!-- Navbar -->
      <nav class="navbar" role="navigation" aria-label="main navigation" id="Layout-Nav">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://localhost:4000">
              <img src="http://localhost:4000/images/bulma-logo.png" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="Layout-Navbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div id="Layout-Navbar" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">
                Home
              </a>
        
              <a class="navbar-item">
                Documentation
              </a>
        
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    About
                  </a>
                  <a class="navbar-item">
                    Jobs
                  </a>
                  <a class="navbar-item">
                    Contact
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Report an issue
                  </a>
                </div>
              </div>
            </div>
        
            <div class="navbar-end">
              <div class="navbar-item" id="Layout-Greeting">
                
              </div>
            </div>
          </div>
        </nav>
      {% block content %}{% endblock %}

      <script>
        const menu = document.querySelector("#Layout-Navbar");
        const menuToggle = document.querySelector("#Layout-Nav a.burger");

        menuToggle.addEventListener("click", function() {
          if (menu.classList.contains("is-active")) {
            menu.classList.remove("is-active");
          } else {
            menu.classList.add("is-active");
          }
        });
      </script>
    </body>
  </html>